# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Build
dist/
build/
*.egg-info/

# FastAPI / runtime
*.sqlite3

# Secrets
config.yaml
secrets.json
